<div class="alert <%= article.bg_color %>">
    <h3><%= link_to article.title, article, class: 'article-title' %></h3>

    <div class="text-muted">
        <%== article.summary %>
    </div>

    <%= render article.tags, cached: true %>
    <% if this_user&.can_edit? article %>
        <%= link_to 'Edit Tags', edit_tags_path(article) %>
    <% end %>

    <div class="d-flex justify-content-between">
        <span>
            <%= article.primary_time.to_date.inspect %>
            <% if this_user&.permission? :reviewer %>
                &bull; By <%= link_to article.author.username, article.author %>
                <% if article.approved? %>
                    &bull; Approved by
                    <%= link_to article.approver.username, article.approver %>
                <% end %>
            <% end %>
            <% if article.updated_at != article.primary_time %>
                <br />
                Last update <%= article.updated_at.to_date.inspect %>
            <% end %>
        </span>
        <% if this_user&.can_edit? article %>
            <%= render 'articles/actions', article: article, cached: true %>
        <% end %>
    </div>

    <% if article.summary.blank? %>
        <br />
    <% end %>
</div>
