<% content_for :title, 'Sign Up' %>
<h1><%= yield :title %></h1>

<%= bootstrap_form_with model: @user, local: true do |form| %>
    <%= form.text_field :username %>
    <%= form.password_field :password %>
    <%= form.password_field :password_confirmation %>
    <%= form.submit 'Sign Up', class: 'btn btn-success' %>
<% end %>

<p class="text-muted font-italics">
  By signing up, you agree with our <a href="/terms_of_service">Terms of Service</a>
  and <a href="/privacy">Privacy Policy</a>.
</p>
