<% content_for :title, "User #{@user.username}" %>

<h1>
  User <%= link_to @user.username, @user, class: 'text-secondary' %>
    <% if this_user == @user || this_user&.permission?(:admin) %>
        <%= link_to 'Edit', edit_user_path(@user), class: 'badge badge-warning' %>
        <%= link_to 'Destroy', @user,
          method: :delete,
          class: 'badge badge-danger',
          data: { confirm: 'Are you sure?' } %>
    <% end %>
</h1>

<%= render partial: 'articles/entry', collection: @articles, as: :article %>

<% if @articles.any? %>
    <%= will_paginate @articles %>
<% else %>
    <p class="text-secondary font-italic">This user has not posted any article... yet!</p>
<% end %>
