<% content_for :title, "Tag ##{@tag.name}" %>

<h1>Tag <%= render 'tag', tag: @tag, cached: true %></h1>
<% if @tag.description.blank? %>
    <p class="text-muted font-italic">There is no description for this tag... yet!</p>
<% else %>
    <p class="text-secondary"><%= @tag.description %></p>
<% end %>
<% if signed_in? %>
    <%= link_to 'Edit', edit_tag_path(@tag) %> |
    <%= link_to 'Delete', tag_path(@tag),
       method: :delete,
       class: 'text-danger',
       data: { confirm: 'Are you sure?' } %>
<% end %>
<hr />

<%= render partial: 'articles/entry', collection: @articles, as: :article %>

<% if @articles.any? %>
    <%= will_paginate @articles %>
<% else %>
    <p class="text-secondary font-italic">There is no article with this tag... yet!</p>
<% end %>
